@model List<Product>
@{
    ViewData["Title"] = "Страница магазина";
}

<div class="my-container">
    <div class="block1">
        @{
            if (Model != null && Model.Count > 0)
            {
                foreach (Product product in Model)
                {
                    <div class="block1-in-box">
                        <img src="~/@product.PathImage" alt="error">
                        <h5>@product.Name</h5>
                        <div class="">
                            <p>Цена: <span>@product.Price</span> <span>Тенге</span></p>
                            <p>
                                <button onclick="RemoveAdProductCart('@product.Id')"><i class="fas fa-minus"></i></button>
                                <button onclick="AddProductCart('@product.Id')"><i class="fas fa-plus"></i></button>
                                <span id="block1-in-box-product-count-@product.Id">@product.GetQuantityProductCart()</span>
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2>Товар не найден</h2>
            }
        }
    </div>
    <div class="block2">
        <div class="block2-in-box1" id="basket">
            <h2>Корзина</h2>
            <div class="order-table" id="order-table">
                @{
                    var order = (Order)ViewBag.Order;
                    await Html.RenderPartialAsync("Partial/OrderTablePartial",order);
                }
            </div>
        </div>
        <div class="block2-in-box2" id="placeOrder" style="display: none">
            <h2>Оформить заказ</h2>
            <div>
                <div class="mb-3 ">
                    <label for="address" class="form-label">Адрес</label>
                    <input type="text" class="form-control" id="address" placeholder="Адрес доставки">
                </div>
                <div class="mb-3 ">
                    <label for="CardNumber" class="form-label">Номер карты</label>
                    <input type="text" class="form-control" id="CardNumber" placeholder="0000-0000-0000-0000">
                </div>
            </div>
            <div class="block2-in-box1-footer">
                 <button type="button" class="btn btn-light" onclick="buttonPay(1)">Назад</button>
                 <button type="button" class="btn btn-light">Оформить</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    
        function buttonPay(value)
        {           
            if (value === 2)
            {
                document.getElementById('basket').style.display = 'none';
                document.getElementById('placeOrder').style.display = 'block';
            }
            else
            {
                document.getElementById('basket').style.display = 'block';
                document.getElementById('placeOrder').style.display = 'none';
            }
        }
        
        function AddProductCart(productId)
        {
            $.ajax(
            {
              url: '@Url.Action("AddProductCart", "Home")',
              type: 'POST',
              data: {productId},
              success: function (data) 
              {
                  if (data === true){
                      document.getElementById('block1-in-box-product-count-' + productId).innerText++;
                      updateOrderBasket();
                  }
                  else if (data === false){
                      alert('Перезагрузите страницу и повторите заново')
                  }
                  else{
                      alert('Ошибка') // TODO: Допишу если время останется 
                  }
            }})                           
        }
        
        function RemoveAdProductCart(productId)
        {
            if (document.getElementById('block1-in-box-product-count-' + productId).innerText > 0)
            {
                $.ajax(
                {
                  url: '@Url.Action("RemoveProductCart", "Home")',
                  type: 'POST',
                  data: {productId},
                  success: function (data) 
                  {
                      if (data === true){
                          document.getElementById('block1-in-box-product-count-' + productId).innerText--;
                          updateOrderBasket();
                      }
                      else if (data === false){
                          alert('Перезагрузите страницу и повторите заново')
                      }
                      else{
                          alert('Ошибка') // TODO: Допишу если время останется 
                      }
                }})         
            }                  
        }
        
        function updateOrderBasket()
        {
            $.ajax(
            {
              url: '@Url.Action("UpdateOrderBasket", "Home")',
              type: 'GET',
              success: function (data) 
              {
                  if (data.status === 500){
                      alert('Ошибка') // TODO: Допишу если время останется
                  }
                  else {
                      document.getElementById('order-table').innerHTML = data;
                  }
            }})  
        }
        
    </script>
}
